__pycache__/model_settings.cpython-311.pyc
__pycache__/model.cpython-311.pyc
__pycache__/plotly_utils.cpython-311.pyc
__pycache__/plots.cpython-311.pyc
__pycache__/test_code.cpython-311-pytest-7.3.1.pyc
__pycache__/test_code.cpython-311-pytest-7.4.0.pyc
__pycache__/utils.cpython-311.pyc
